<nav class="navbar border border-b-base-200">
  <div class="navbar-start">
    <a class="btn btn-ghost text-lgs">Sta. Cruz Learning Center Inc.</a>
  </div>
  <div class="navbar-end flex items-center">
    <ul class="menu menu-horizontal px-1">
      @for (item of menus; track $index) {
      @if (item.children) {
      <li>
        <details>
          <summary>{{ item.label }}</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            @for (child of item.children; track $index) {
            <li><a [routerLink]="child.path">{{ child.label }}</a></li>
            }
          </ul>
        </details>
      </li>
      } @else {
      <li><a [routerLink]="item.path">{{item.label}}</a></li>
      }
      }
    </ul>

    <ul class="ml-5">
      @for (item of cta; track $index) {
        <li><a [routerLink]="item.path" class="btn btn-primary btn-sm">{{ item.label }}</a></li>
      }
    </ul>
  </div>
</nav>
