<nav class="navbar container mx-auto">
  <div class="navbar-start">
    <div class="logo">
      <img src="" alt="">
    </div>
    <a href="" class="btn btn-ghost">Sta. Cruz Learning Center</a>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal gap-10">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
  </div>
</nav>


<!-- HERO SECTION -->
<section class="container mx-auto min-h-[70vh] flex items-center">
  <div class="card w-full">
    <div class="card-body flex flex-row">
      <div class="flex-1 flex flex-col items-center justify-center">
        <div>
          <h1 class="text-5xl font-semibold">
            Empowering Learners for Life
          </h1>
          <br>
          <p class="text-lg">Your gateway to flexible, faith-based learning. <br>
            Access lessons, submit activities, and grow in knowledge and values—anytime, anywhere.</p>
          <br>

          <div class="flex gap-5">
            <a routerLink="/login" class="btn btn-neutral btn-wide">Log In</a>
            <!-- <a href="" class="btn btn-neutral btn-wide">Help Center</a> -->
          </div>

        </div>
      </div>

      <div class="flex-1">
        <img src="/img/dashboard-2.svg" alt="">
      </div>
    </div>
  </div>
</section>


<!-- About Section -->

