<nav class="h-16 px-8 flex items-center justify-between border-b bg-neutral-900 border-neutral-800">
  <div>
    <a routerLink="/" class="btn btn-ghost hover:bg-neutral-800">Sta. Cruz Learning Center</a>
  </div>

  <div class="flex items-center gap-10">
    <ul class="menu menu-horizontal gap-10">
      <li><a routerLink="" class="btn btn-ghost btn-sm hover:bg-neutral-800">Home</a></li>
      <li><a routerLink="" class="btn btn-ghost btn-sm hover:bg-neutral-800">About Us</a></li>
      <li><a routerLink="" class="btn btn-ghost btn-sm hover:bg-neutral-800">Contact Us</a></li>
    </ul>

    <a routerLink="/signin" class="btn btn-ghost btn-sm hover:bg-neutral-800 hover:text-neutral-100 bg-neutral-100 text-neutral-800">Sign In</a>
  </div>
</nav>
