<button class="btn btn-sm" (click)="showAddTeacherDialog()">Add teacher</button>

<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date Added</th>
    </tr>
  </thead>
  <tbody>
    @for (item of subject?.teacherAssignedSubjects; track $index) {
    <tr>
      <td>{{item.teacher.firstname}} {{item.teacher.lastname}}</td>
      <td>{{item.teacher.email}}</td>
      <td>{{ item.createdAt | date : "medium"}}</td>
    </tr>
    }
  </tbody>
</table>


<!-- Open the modal using ID.showModal() method -->
<dialog #addTeacherDialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Add Teacher</h3>
    <br>
    <!-- <p class="py-4">Press ESC key or click the button below to close</p> -->
     <select [formControl]="teacherSelect" class="select select-bordered w-full">
      <option value="" selected disabled>-- Select Teacher</option>

      @for (item of teachers; track $index) {
        <option [value]="item.id">{{ item.firstname }} {{ item.lastname }}</option>
      }
     </select>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="addTeacher()">Add</button>
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
