<div class="grid grid-cols-12">
  <div class="col-span-8">
    <br>

    @for (topic of topics; track $index) {
    <hr>
    <h3 class="text-xl font-semibold">{{ topic.topic.title }}</h3>

    <br>
    @if (topic.subjectMaterials.length < 1) { <div class="flex justify-center">
      <p class="text-lg">No lessons added yet!</p>
  </div>
  } @else { <ul class="list bg-base-100 rounded-box shadow-md">

    @for (item of topic.subjectMaterials; track $index) {
    <li class="list-row flex justify-between items-center">
      <div class="flex gap-3">
        <div class="text-2xl">
          @if (item.material_type == "lesson") {
          📚
          }
          @else if (item.material_type == "video-quiz") {
          📹
          }
          @else {
          💡
          }
        </div>
        <div>
          <div><a [routerLink]="item.material_type == 'quiz' ? '/student/quiz/' : ''" class="link">{{ item.title }}</a>
          </div>
          <div class="text-xs opacity-60">Date added: {{ item.created_at| date }}</div>
        </div>
      </div>
      <div>

        @if(item.material_type == "quiz") {
        <button class="btn" (click)="takeQuiz(item.id)">
          Take Quiz
        </button>
        } @else {
        <a [href]="item.file_url" target="_blank" class="btn btn-square">
          <svg class="size-[1.5em]" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.25 20.5a.75.75 0 1 1 0 1.5l-13 .004a.75.75 0 1 1 0-1.5l13-.004ZM11.648 2.012l.102-.007a.75.75 0 0 1 .743.648l.007.102-.001 13.685 3.722-3.72a.75.75 0 0 1 .976-.073l.085.073a.75.75 0 0 1 .072.976l-.073.084-4.997 4.997a.75.75 0 0 1-.976.073l-.085-.073-5.003-4.996a.75.75 0 0 1 .976-1.134l.084.072 3.719 3.714L11 2.755a.75.75 0 0 1 .648-.743l.102-.007-.102.007Z"
              class="fill-base-content" />
          </svg>
        </a>
        }

      </div>
    </li>
    }
  </ul>

  <br>

  }
  }
</div>
</div>
