<div class="w-full">

  <div class="border-b border-base-200 pb-2 mt-5">
    <span class="font-semibold">Navigations</span>
  </div>

  <ul class="flex flex-col gap-3  mt-3">
    <li class="w-full"><a routerLink="/student" class="btn w-full btn-sm btn-ghost border border-base-200">Student Dashboard</a>
    </li>
    <li class="w-full"><a routerLink="/student/subjects" class="btn w-full btn-sm btn-ghost border border-base-200">Enrolled subjects</a>
    </li>
    <li class="w-full"><a routerLink="/student/calendar" class="btn w-full btn-sm btn-ghost border border-base-200">Calendar</a></li>
    <!-- <li class="w-full"><a routerLink="/admin/school-settings" class="btn w-full btn-sm btn-ghost border border-base-200">School Settings</a> </li>-->
  </ul>

  <div class="border-b border-base-200 pb-2 mt-5">
    <span class="font-semibold">Upcoming events/deadlines</span>
  </div>

</div>
