<div class="container mx-auto px-5">
  <!-- <div class=" bg-slate-100 rounded-xl shadow">

    <div class="grid grid-cols-7">
      <div class="text-center border-[1px]">Sun</div>
      <div class="text-center border-[1px]">Mon</div>
      <div class="text-center border-[1px]">Tue</div>
      <div class="text-center border-[1px]">Wed</div>
      <div class="text-center border-[1px]">Thu</div>
      <div class="text-center border-[1px]">Fri</div>
      <div class="text-center border-[1px]">Sat</div>
    </div>

    <div class="grid grid-cols-7 grid-rows-5 h-[80vh] w-full border-[1px]">
      @for (item of calendar1d(0, 2025); track $index) {
        <div class="border border-gray-200 bg-gray-100 p-2">
          <div class="flex justify-end">
            <span>{{ item }}</span>
          </div>
        </div>
      }
    </div>
  </div> -->
</div>
