<div class="container mx-auto px-16">
  <div class="h-44 w-full flex items-end">
    <h1 class="text-4xl font-semibold">Mathematics</h1>
  </div>

  <div class="flex flex-col w-full mt-8 gap-3">
    <div *ngFor="let detail of courseDetail | keyvalue" class="flex text-neutral-400">
      <div class="w-48">{{detail.key}}</div>
      <div class="flex-1">{{detail.value}}</div>
    </div>

    <div class="flex  text-neutral-400">
      <div class="w-48">Completed Assignments</div>
      <div class="flex-1">
        <span>5</span>
      </div>
    </div>


    <div class="flex  text-neutral-400">
      <div class="w-48">Summary</div>
      <div class="flex-1">
        <span>50 Topics, 0 Assignments, 0 Exams</span>
      </div>
    </div>

  </div>

  <div class="w-full flex flex-col gap-10 mt-16">
    <app-section title="Topics">
      <table class="table">
        <thead>
          <tr class="border-b border-neutral-500">
            <th>Title</th>
            <th>Descriptions</th>
            <th>Lessons</th>
            <th>Progress</th>
          </tr>
        </thead>
      </table>
    </app-section>

    <app-section title="Activities" [tabs]="tabs">

    </app-section>
  </div>
</div>
