<app-drawer>
  <app-topbar></app-topbar>
  <div class="container min-h-[calc(100vh-64px)] mx-auto">
    <div class="flex items-center gap-3">
      <a (click)="goBack()" class="btn btn-sm btn-accent"><span>
          <svg width="18" height="18" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.733 19.79a.75.75 0 0 0 1.034-1.086L5.516 12.75H20.25a.75.75 0 0 0 0-1.5H5.516l6.251-5.955a.75.75 0 0 0-1.034-1.086l-7.42 7.067a.995.995 0 0 0-.3.58.754.754 0 0 0 .001.289.995.995 0 0 0 .3.579l7.419 7.067Z"
              class="fill-accent-content" />
          </svg>
        </span>Go Back
      </a>

      <a routerLink="/admin/edit-lesson" [queryParams]="{
        lesson_id: materialId
      }" class="btn btn-sm btn-outline">Edit content</a>
    </div>

    <br>
    <br>

    <div class="prose max-w-full break-words overflow-hidden" [innerHTML]="material?.content"></div>


    <br>
    <hr>
    <br>


  </div>
</app-drawer>
