<app-admin-layout>

  <main>
    <div class="h-28"></div>
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold">Admin Dashboard</h1>
    </div>

    <br>
    <br>
    <br>

    <div class="container mx-auto">
      <div class="grid grid-cols-12 ">
        <div class="col-span-10">
          <!-- OVERVIEW SECTIONS -->
          <section class="grid grid-cols-3 gap-5">
            <div class="card card-bordered p-1">
              <div class="card-body flex flex-col items-center">
                <span class="text-4xl">{{ userCount }}</span>
                <span class="font-semibold">Total Users</span>
              </div>
            </div>

            <div class="card card-bordered p-1">
              <div class="card-body flex flex-col items-center">
                <span class="text-4xl">{{ sectionCount }}</span>
                <span class="font-semibold">Total Sections</span>
              </div>
            </div>

            <div class="card card-bordered p-1">
              <div class="card-body flex flex-col items-center">
                <span class="text-4xl">{{ subjectCount }}</span>
                <span class="font-semibold">Total Subjects</span>
              </div>
            </div>
          </section>

        </div>
        <div class="col-span-2"></div>
      </div>
    </div>
  </main>

</app-admin-layout>
