<app-layout pageTitle="Admin Dashboard">
  <app-section sectionTitle="Overview">
    <div class="grid grid-cols-3 gap-5">

      <div class="card bg-neutral-800">
        <div class="card-body p-5 flex flex-col items-center justify-center ">
          <span class="text-4xl">0</span>
          <span class="">Total Users</span>
        </div>
      </div>

      <div class="card bg-neutral-800">
        <div class="card-body p-5 flex flex-col items-center justify-center ">
          <span class="text-4xl">0</span>
          <span class="">Total Sections</span>
        </div>
      </div>

      <div class="card bg-neutral-800">
        <div class="card-body p-5 flex flex-col items-center justify-center ">
          <span class="text-4xl">0</span>
          <span class="">Total Subjects</span>
        </div>
      </div>

    </div>
  </app-section>

  <app-section sectionTitle="Inquiry/Reports">
    <table class="table">
      <thead>

      </thead>
      <tbody></tbody>
    </table>
  </app-section>
</app-layout>
