<div class=" mx-auto p-5">
  <div class="flex gap-5 items-center mb-4">
    <h2 class="text-xl font-bold">Students</h2>

    <select class="select select-bordered select-sm" (change)="loadStudents($event)">
      <option value="" disabled selected>-- Select Section</option>

      @for (item of sections; track $index) {
      <option [value]="item.classSectionId">{{ item.classSection.sectionName }}</option>
      }
    </select>
  </div>

  <table class="table border rounded">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <!-- <th align="center">Progress</th> -->
      </tr>
    </thead>
    <tbody>


      @for (item of students; track $index) {
      <tr>
        <td>{{item.student.firstname}} {{item.student.lastname}}</td>
        <td>{{ item.student.email }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
