<app-drawer-layout>
  <nav class="navbar border border-base-content/5"></nav>
  <br>
  <main class="container mx-auto">
    <p class="text-lg font-semibold">Total Subjects - <span>{{subjectsCount}}</span></p>
    <br>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <label class="input input-sm">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="search" class="grow" placeholder="Search" />
        </label>
      </div>

      <div>
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-sm btn-outline btn-ghost border m-1">Filter</div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><a>Card</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-sm btn-outline btn-ghost border m-1">Sort</div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><a>Card</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </div>
        <div class="join">
          <button class="join-item btn btn-sm btn-outline" [disabled]="this.page == 1">«</button>
          <button class="join-item btn btn-sm btn-outline">Page {{ page }}</button>
          <button class="join-item btn btn-sm btn-outline" [disabled]="this.page == this.maxPage">»</button>
        </div>
      </div>
    </div>

    <br>


    <div class="grid grid-cols-4 gap-5">
      @for (item of subjects; track $index) {
        <a [routerLink]="'/student/enrolled-subjects/subject-detail/' + item.teacherSubject?.id"
          class="card border border-base-content/55">
          <figure class="">
            <div class="h-52 bg-base-300 w-full">
            </div>

          </figure>
          <div class="card-body">
            <h2 class="card-title">{{ item.subject?.subject_name }}</h2>
            <p>Subject Code: {{ item.subject?.subject_code ?? "Not Set" }}</p>
            <p>Grade {{ item.level?.level }} - {{ item.section?.section_name }}</p>
          </div>
        </a>
        }
    </div>
  </main>
</app-drawer-layout>
