<div>
  <div class="flex justify-between items-center">
    <p class="font-semibold text-sm">{{monthNames[currentMonth]}} {{ currentYear }}</p>

    <div class="join">
      <button class="join-item hover:bg-neutral-700 btn btn-sm btn-ghost" (click)="prevMonth()">«</button>
      <button class="join-item hover:bg-neutral-700 btn btn-sm btn-ghost" (click)="resetCalendar()">Today</button>
      <button class="join-item hover:bg-neutral-700 btn btn-sm btn-ghost" (click)="nextMonth()">»</button>
    </div>
  </div>

  <table class="w-full mt-5 table">
    <thead class="">
      <tr class="border-b border-neutral-800">
        @for (weekDays of weekDays; track $index) {
        <td align="center">{{weekDays}}</td>
        }
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of calendar">
        <td class="border border-neutral-800 h-36 w-36 p-0" *ngFor="let day of week" [class.today]="isToday(day?.date)"
          [class.other-month]="day?.isOtherMonth">
          <div class="h-full w-full p-2">
            <div class="flex justify-end items-center">
              <div class="text-right" [ngClass]="isToday(day.date) ? 'badge' :
              day.isOtherMonth ? 'text-neutral-600' : ''">
                {{ day?.date }}
              </div>
            </div>
          </div>
        </td>
    </tbody>
  </table>
</div>
