<div class="container mx-auto">


  <section class="grid grid-cols-12">
    <div class="col-span-2">
      <p class="font-semibold text-lg">Import Users</p>
      <!-- <span class="text-sm">Manage your exsisting team</span> -->
    </div>

    <div class="col-span-10">
      <div class="border-2 border-base-200 flex flex-col justify-center items-center p-5 border-dashed">
        <span>
          <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.25 3.495h13.498a.75.75 0 0 0 .101-1.493l-.101-.007H5.25a.75.75 0 0 0-.102 1.493l.102.007Zm6.633 18.498L12 22a1 1 0 0 0 .993-.884L13 21V8.41l3.294 3.292a1 1 0 0 0 1.32.083l.094-.083a1 1 0 0 0 .083-1.32l-.083-.094-4.997-4.997a1 1 0 0 0-1.32-.083l-.094.083-5.004 4.996a1 1 0 0 0 1.32 1.499l.094-.083L11 8.415V21a1 1 0 0 0 .883.993Z"
              class="fill-base-content" />
          </svg>
        </span>
        Upload CSV or Drag and drop
      </div>
    </div>
  </section>
</div>
