<app-drawer>

  <app-topbar title="Dashboard"></app-topbar>

  <section class="container mx-auto px-5 lg:px-16">
    <!-- WELCOME BANNER -->
    <div class="card">
      <div class="card-body flex gap-10 flex-col-reverse xl:flex-row-reverse items-center">
        <div class="flex-1 flex flex-col items-center md:items-start">
          <h3 class="text-xl text-center md:text-left font-semibold my-5 text-primary">Welcome back! Pedro Hagawhaw</h3>
          <p class="text-center md:text-left">Explore your dashboard, track your progress, and discover new
            opportunities to shine. <br> Let's make every
            moment count!</p>
        </div>

        <div class="flex items-center">
          <app-hello-svg />
        </div>
      </div>
    </div>
    <br>


    <!-- MGA COURSES -->
    <section class=" w-full">
      <div class="">
        <div class="flex gap-5 justify-between items-center mb-3">
          <div class="font-semibold">Your courses</div>
          <!-- <p class="text-sm font-semibold">Recently viewed courses</p> -->
          <a routerLink="/student/courses" class="text-sm flex items-center gap-1">More
            <svg class="w-[0.875rem]" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.47 4.22a.75.75 0 0 0 0 1.06L15.19 12l-6.72 6.72a.75.75 0 1 0 1.06 1.06l7.25-7.25a.75.75 0 0 0 0-1.06L9.53 4.22a.75.75 0 0 0-1.06 0Z"
                class="fill-base-content" />
            </svg>
          </a>
        </div>

        <div class="grid gap-5 grid-cols-1 xl:grid-cols-3">
          @for (item of enrolledSubjects?.slice(0, 3); track $index) {
          <a [routerLink]="['/student', 'courses', item.teacherSubject.id]" class="rounded-lg border-[1px] shadow">
            <div>
              @if (item.teacherSubject.subject.coverImgUrl) {
              <img [src]="'http://' + item.teacherSubject.subject.coverImgUrl"
                class="w-full max-h-48 object-cover rounded-tl rounded-tr" alt="" crossOrigin="anonymous">
              }
              @else {
              <img [src]="avatar(item.teacherSubject.subject.title + item.teacherSubject.subject.gradeLevel.level)"
                class="w-full max-h-48 object-cover rounded-tl rounded-tr" alt="" crossOrigin="anonymous">
              }
              <!-- <img {[]}="https://loremflickr.com/100/100?random=3" alt=""> -->
            </div>
            <div class="p-5">
              <p class="font-semibold">{{item.teacherSubject.subject.title }} - {{ item.teacherSubject.subject.gradeLevel.level }}</p>
              <div class="flex flex-col">
                <p class="text-sm">{{ item.teacherSubject.teacher.firstname }} {{ item.teacherSubject.teacher.lastname
                  }}</p>
              </div>
              <div class="flex mt-3 justify-between">
                <div class="text-sm flex items-center gap-1" title="12 Participants/Students">
                  <span>{{ item.teacherSubject.subjectMaterials.length }}</span>
                  <span>Module(s)</span>
                </div>
              </div>
            </div>
          </a>
          }
        </div>
      </div>
    </section>

    <br>



    <br>



    <br>
  </section>

</app-drawer>
