<app-drawer-layout>
  <nav class="navbar bg-base-100 border-b border-base-content/5">
    <div class=" flex items-centers gap-5">
      <button class="btn btn-sm btn-ghost lg:hidden inline-flex">
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.75 18h12.5a.75.75 0 0 1 .102 1.493l-.102.007H2.75a.75.75 0 0 1-.102-1.494L2.75 18h12.5-12.5Zm0-6.5h18.5a.75.75 0 0 1 .102 1.493L21.25 13H2.75a.75.75 0 0 1-.102-1.493l.102-.007h18.5-18.5Zm0-6.497h15.5a.75.75 0 0 1 .102 1.493l-.102.007H2.75a.75.75 0 0 1-.102-1.493l.102-.007h15.5-15.5Z"
            class="fill-base-content" />
        </svg>
      </button>

    </div>
    <div class="flex-none">
    </div>
  </nav>
  <br>

  <main class="container mx-auto">
    <div class="card border">
      <div class="card-body">
          <div class="flex items-center gap-10">
            <div class="h-32 w-32 bg-base-300 rounded-full"></div>
            <div>
              <h3 class="text-3xl font-semibold">Sta. Cruz Learning Center</h3>
              <p>School code: 11012</p>
            </div>
          </div>
      </div>
    </div>

    <br>

    <p class="text-lg font-semibold">Students & Teachers Stats</p>
    <div class="grid grid-cols-2 gap-5">
      <div class="card border">
        <div class="card-body"></div>
      </div>
      <div class="card border">
        <div class="card-body"></div>
      </div>
    </div>
  </main>
</app-drawer-layout>
