<section>
  <div class="w-full border-b border-neutral-800"
    [ngClass]="tabs.length == 0 ? 'flex items-center justify-between' : ''">
    <div>
      <span class="text-xl font-bold ">{{title}}</span>
    </div>

    <div class="flex items-end justify-between mt-3 ">
      <div *ngIf="tabs.length > 0">
        <div role="tablist" class="tabs">
          <button
            *ngFor="let tab of tabs; let i = index"
            (click)="selectTab(i)"
            role="tab" class="tab border-b-2 border-transparent"
            [ngClass]="i == activeTab ? 'tab-active border-b-2' : ''">
            {{ tab.label }}
          </button>
        </div>
      </div>
      <ul class="flex items-center gap-3 pb-2">
        <li>
          <button class="btn btn-xs btn-ghost">
            <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.5 16a.75.75 0 0 1 0 1.5h-3a.75.75 0 0 1 0-1.5h3Zm3-5a.75.75 0 0 1 0 1.5h-9a.75.75 0 0 1 0-1.5h9Zm3-5a.75.75 0 0 1 0 1.5h-15a.75.75 0 0 1 0-1.5h15Z"
                class="fill-neutral-600" />
            </svg>
          </button>
        </li>
        <li>
          <button class="btn btn-xs btn-ghost">
            <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m17.25 4-.1.007a.75.75 0 0 0-.65.743v12.692l-3.22-3.218-.084-.072a.75.75 0 0 0-.976 1.134l4.504 4.5.084.072a.75.75 0 0 0 .976-.073l4.497-4.5.072-.084a.75.75 0 0 0-.073-.977l-.084-.072a.75.75 0 0 0-.977.073L18 17.446V4.75l-.006-.102A.75.75 0 0 0 17.251 4Zm-11.036.22L1.72 8.715l-.073.084a.75.75 0 0 0 .073.976l.084.073a.75.75 0 0 0 .976-.073l3.217-3.218v12.698l.008.102a.75.75 0 0 0 .743.648l.101-.007a.75.75 0 0 0 .649-.743L7.497 6.559l3.223 3.217.084.072a.75.75 0 0 0 .975-1.134L7.275 4.22l-.085-.072a.75.75 0 0 0-.976.073Z"
                class="fill-neutral-600" />
            </svg>
          </button>
        </li>
        <li>
          <label *ngIf="searchEvent.observed"
            class="input input-bordered input-sm border border-neutral-600 flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
              <path fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd" />
            </svg>

            <input type="text" class="grow" placeholder="Search" (input)="search($event)" />
          </label>
        </li>
      </ul>
    </div>
  </div>

  @if (tabs.length > 0) {
  <div class="w-full mt-10">
    <ng-container>
      <ng-container *ngIf="tabs[activeTab].content">
        <ng-container *ngComponentOutlet="tabs[activeTab].content"></ng-container>
      </ng-container>
    </ng-container>
  </div>
  }
  @else {
  <div class="w-full mt-10">
    <ng-content></ng-content>
  </div>
  }
</section>
