<div class="container mx-auto min-h-screen">
  <section class="grid grid-cols-12">
    <!-- <div class="col-span-2">
    </div> -->

    <div class="col-span-10">
      <div class="w-full flex mb-5 justify-between items-center">
        <div class="flex items-center gap-3">
          <div class="join">
            <button class="join-item btn btn-sm" (click)="prevUserListPage()" [disabled]="userListPage == 1">«</button>
            <button class="join-item btn btn-sm"> {{userListPage}} </button>
            <button class="join-item btn btn-sm" (click)="nextUserListPage()"
              [disabled]="userListPage == userListMaxPage">»</button>
          </div>

          <label class="input input-bordered input-sm flex items-center gap-2">
            <input type="text" class="grow" placeholder="Search" />
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
              <path fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd" />
            </svg>
          </label>
        </div>
      </div>

      <div class="grid grid-cols-4 gap-5">
        @for (item of subjectList; track $index) {
        <a [routerLink]="'/admin/subject-detail/' + item.subject.id" class="border border-base-300 rounded">
          <div class="bg-base-200 h-36">
          </div>
          <div class="p-3">
            <span class="font-semibold">{{ item.subject.subject_name }}</span>
            <br>
            <span class="text-sm">Grade {{ item.level?.level }}</span>
            <br>
            <p class="text-sm">
              <span>{{ item.lesson_count.count }} Lessons</span>,
              <span>32 Enrolled Teachers</span>
            </p>
            <br>
          </div>
        </a>
        }

        <!-- <a [routerLink]="'/admin/subject-detail/1'" class="border border-base-300 rounded">
          <div class="bg-base-200 h-36">
            <img class="h-full w-full object-cover" src="https://t3.ftcdn.net/jpg/04/83/90/18/360_F_483901821_46VsNR67uJC3xIKQN4aaxR6GtAZhx9G8.jpg" alt="">
          </div>
          <div class="p-3">
            <span class="font-semibold">Math</span>
            <br>
            <span class="text-sm">Grade 7</span>
            <br>
            <p class="text-sm">
              <span>4 Lessons</span>,
              <span>5 Enrolled Teachers</span>
            </p>
            <br>
          </div>
        </a>

        <a [routerLink]="'/admin/subject-detail/1'" class="border border-base-300 rounded">
          <div class="bg-base-200 h-36">
            <img class="h-full w-full object-cover" src="https://img.freepik.com/premium-vector/english-language-learning-dark-background_651276-157.jpg" alt="">
          </div>
          <div class="p-3">
            <span class="font-semibold">English</span>
            <br>
            <span class="text-sm">Grade 7</span>
            <br>
            <p class="text-sm">
              <span>0 Lessons</span>,
              <span>32 Enrolled Teachers</span>
            </p>
            <br>
          </div>
        </a>

        <a [routerLink]="'/admin/subject-detail/1'" class="border border-base-300 rounded">
          <div class="bg-base-200 h-36">
            <img class="h-full w-full object-cover" src="https://static.vecteezy.com/system/resources/thumbnails/013/717/509/small_2x/school-education-and-science-doodle-background-free-vector.jpg" alt="">
          </div>
          <div class="p-3">
            <span class="font-semibold">Science</span>
            <br>
            <span class="text-sm">Grade 7</span>
            <br>
            <p class="text-sm">
              <span>0 Lessons</span>,
              <span>32 Enrolled Teachers</span>
            </p>
            <br>
          </div>
        </a> -->
      </div>
    </div>
  </section>
</div>
