<form action="">
  <label class="form-control w-full ">
    <div class="label">
      <span class="label-text">Title <span class="text-red-500">*</span></span>
    </div>
    <input type="text" class="input input-bordered w-full " />
    <div class="label">
      <span class="label-text-alt"></span>
    </div>
  </label>

  <label class="form-control w-full ">
    <div class="label">
      <span class="label-text">Description</span>
    </div>
    <textarea name="" id="" placeholder="A brief description about the subject" class="textarea textarea-bordered"></textarea>
    <div class="label">
      <span class="label-text-alt"></span>
    </div>
  </label>

  <label class="form-control w-full ">
    <div class="label">
      <span class="label-text">Grade Level <span class="text-red-500">*</span></span>
    </div>
    <select name="" id="" class="select select-bordered">
      <option value="">-- Select grade level</option>
      <option value=""></option>
    </select>
    <div class="label">
      <span class="label-text-alt"></span>
    </div>
  </label>


</form>
