  <div class="container flex items-center mx-auto px-5">
    <div class="">
      <div class="flex gap-3 items-center">
        <a [routerLink]="['/admin','doc-editor']" [queryParams]="{
        subject_id: subjectId
      }" class="btn btn-primary btn-sm">Add New Module</a>
        <a [routerLink]="['/admin', 'quiz-creation']" [queryParams]="{
          subject_id: subjectId
        }" class="btn btn-primary btn-sm"> Add Quiz</a>
      </div>
    </div>
    <br>
  </div>

  <div class="container mx-auto lg:p-6">

    @for (item of subjectDetail?.subjectMaterials; track $index) {
    <div class="card bg-base-100 shadow-md mb-5 border-l-4" [ngClass]="{
        'border-blue-500': item.materialType === 'document',
        'border-green-500': item.materialType === 'video',
        'border-orange-500': item.materialType === 'quiz'
      }">
      <div class="card-body">
        <h3 class="font-bold text-lg">
          <h3 class="font-bold text-lg max-w-96 text-nowrap overflow-hidden text-ellipsis">
            {{ item.title?.trim() ? item.title : "(No Title)" }}
          </h3>
        </h3>


        <p class="text-md text-gray-500">📅 Created: {{ item.createdAt | date:'mediumDate' }}</p>
        <p class="text-md text-gray-500">🔄 Last Updated: {{ item.updatedAt | date:'mediumDate' }}</p>

        <div class="flex justify-between items-center mt-2">
          <span class="badge" [ngClass]="{
                    'badge-primary': item.materialType === 'document',
                    'badge-success': item.materialType === 'video',
                    'badge-warning': item.materialType === 'quiz'
                  }">
            {{ item.materialType| titlecase }}
          </span>


          <div class="flex gap-3">

            @if (item.materialType == "document") {
            <a [href]="item.fileURL" target="_blank" class="btn btn-outline btn-sm">📖 View Lesson</a>
            }
            @else {
            <a [routerLink]="['/admin', 'lesson-content', item.id]" class="btn btn-outline btn-sm">📖 View
              Lesson</a>
            }

            <button class="btn btn-sm btn-outline">Remove</button>
          </div>

        </div>
      </div>
    </div>
    }
  </div>
