<section>
  <app-section-header title="Assignments/Exams"></app-section-header>


  <div class="w-full overflow-x-auto mt-5">
    <table class="table">
      <thead>
        <tr class="bg-neutral-800 border-b border-neutral-700">
          <th>Title</th>
          <th>Subject</th>
          <th>Date Created</th>
          <th>Due Date</th>
          <th align="center">Status</th>
        </tr>
      </thead>
      <tbody>
        @for (item of assignments; track $index) {
        <tr class="border-t border-neutral-700">
          <td><a href="" class="link">{{item.title}}</a></td>
          <td>{{ item.subject }}</td>
          <td>{{ item.created | date:'MMM d, yyyy'}}</td>
          <td>{{ item.dueDate | date:'MMM d, yyyy' }}</td>
          <td align="center" ><div class="badge badge-outline  text-neutral-800"
            [ngClass]="item.status == 'Completed' ? 'border-green-500 text-green-500'
            : item.status == 'Pending' ? 'border-amber-500 text-amber-500' : 'border-red-500 text-red-500'">{{ item.status }}</div></td>
        </tr>
        }
      </tbody>
    </table>
    <div class="w-full flex items-center mt-5 justify-end">
      <div class="join">
        <button class="join-item btn btn-sm border-neutral-600">«</button>
        <button class="join-item btn btn-sm border-neutral-600">Page 22</button>
        <button class="join-item btn btn-sm border-neutral-600">»</button>
      </div>
    </div>
  </div>
</section>
