<app-drawer>
  <app-navbar [crumbs]="crumbs"></app-navbar>

<div class="container mx-auto">
  <div class="h-44 w-full flex items-end">
    <h1 class="text-5xl font-semibold">{{pageTitle}}</h1>
  </div>
  <br>
  <div class="grid mt-16 gap-16 grid-cols-12">

    <div class=" flex flex-col gap-10"
      [ngClass]="quickActions.length > 0 || navigations.length > 0 ? 'col-span-9' : 'col-span-12'">
      <ng-content></ng-content>
      <br>
    </div>

    <div class="col-span-3" *ngIf="quickActions.length > 0 || navigations.length > 0">
      <section *ngIf="quickActions.length > 0">
        <div class="w-full border-b py-2 border-neutral-800">
          <span class="font-bold">Quick Actions</span>
        </div>

        <div class="flex flex-col gap-3 py-3 items-start">
          @for (item of quickActions; track $index) {
          <button class="btn btn-sm w-full border-neutral-600 disabled:border-neutral-600 group">
            <!-- <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.907 5.622c.062.208.093.424.093.641V17.74a2.25 2.25 0 0 1-2.891 2.156l-5.514-1.64a4.002 4.002 0 0 1-7.59-1.556L6 16.5l-.001-.5-2.39-.711A2.25 2.25 0 0 1 2 13.131V10.87a2.25 2.25 0 0 1 1.61-2.156l15.5-4.606a2.25 2.25 0 0 1 2.797 1.515ZM7.499 16.445l.001.054a2.5 2.5 0 0 0 4.624 1.321l-4.625-1.375Z"
                class="fill-neutral-200 group-disabled:fill-neutral-600" />
            </svg> -->
            <span class="group-disabled:text-neutral-600">{{ item.label }}</span>
          </button>
          }

          <!-- <button class="btn btn-sm w-full border-neutral-600 disabled:border-neutral-600 group" disabled>
            <svg width="20" height="20" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.25 3A3.25 3.25 0 0 0 3 6.25v11.5A3.25 3.25 0 0 0 6.25 21h11.5A3.25 3.25 0 0 0 21 17.75V6.25A3.25 3.25 0 0 0 17.75 3H6.25Zm10.03 6.78-5 5a.75.75 0 0 1-1.06 0l-2.004-2.004a.75.75 0 1 1 1.06-1.06l1.474 1.473 4.47-4.47a.75.75 0 1 1 1.06 1.061Z"
                class="fill-neutral-200 group-disabled:fill-neutral-600" />
            </svg>
            <span class="group-disabled:text-neutral-600">New Activity/Activity</span>
          </button> -->
        </div>
      </section>
      <br>
      <section *ngIf="navigations.length > 0">
        <div class="w-full border-b py-2 border-neutral-800">
          <span class="font-bold">Navigation</span>
        </div>

        <ul class="flex flex-col gap-2 items-start py-3">
          @for (item of navigations; track $index) {
          <li class="w-full"><a [routerLink]="item.path" class="btn btn-sm w-full border-neutral-600 disabled:border-neutral-600 group">{{ item.label }}</a></li>
          }
        </ul>
      </section>
    </div>
  </div>
</div>

</app-drawer>
