<nav class="navbar bg-base-100 border-b border-base-content/5 px-5">
  <div class="navbar-start">
    <a routerLink="/admin/user-management" class="btn btn-sm">Go Back</a>
  </div>
  <div class="navbar-end"></div>
</nav>
<br>
<div class="container mx-auto grid min-h-[calc(90vh-4rem)] grid-cols-12 gap-5">
  <div class="col-span-4 border rounded-md border-base-content/5 flex flex-col items-center p-5">
    <div class="w-full bg-base-300 h-80 rounded">
      <img #profileImage alt="" class="h-full w-full object-cover">
    </div>

    <br>

    <div class="w-full">
      <label for="upload-photo">
        <span class="btn w-full">Change/Upload Photo</span>

        <input type="file" class="hidden" id="upload-photo"
        accept="image/*"
        (change)="previewImage($event)">
      </label>
    </div>

    <br>

    <div class="w-full">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <input type="password" class="input w-full" placeholder="" />
        <p class="label"></p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Confirm Password</legend>
        <input type="password" class="input w-full" placeholder="" />
        <p class="label"></p>
      </fieldset>

      <button class="btn w-full">Change Password</button>
    </div>
  </div>
  <form [formGroup]="formGroup" class="col-span-8 border rounded border-base-content/5 p-5">
    <p class="font-semibold">Profile</p>
    <br>
    <div class="grid grid-cols-2 gap-5">

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Firstname</legend>
        <input type="text" class="input w-full" placeholder="" formControlName="fname" />
        <p class="label"></p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Middlename</legend>
        <input type="text" class="input w-full" placeholder="" formControlName="mname" />
        <p class="label"></p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Last Name</legend>
        <input type="text" class="input w-full" placeholder="" formControlName="lname" />
        <p class="label"></p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Role</legend>
        <select class="select w-full" formControlName="role">
          <option value="" disabled selected>-- Select User Role</option>

          @for (item of userRoleList; track $index) {
          <option [value]="item.id">{{ item.role_name }}</option>
          }
        </select>
        <p class="label"></p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Email</legend>
        <input type="text" class="input w-full" placeholder="" formControlName="email" />
        <p class="label"></p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend">Contact No.</legend>
        <input type="text" class="input w-full" placeholder="" formControlName="contact_no" />
        <p class="label"></p>
      </fieldset>
    </div>
  </form>

</div>
