<main class="flex h-screen">
  <div class="flex-1 flex items-center justify-center">
    <form action="" class="w-80">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Email/LRN</span>
        </div>
        <input type="text"  class="input input-bordered w-full" />
        <div class="label">
          <span class="label-text-alt"></span>
        </div>
      </label>


      <label class="form-control w-full ">
        <div class="label">
          <span class="label-text">Password</span>
        </div>
        <input type="password"  class="input input-bordered w-full " />
        <div class="label">
          <span class="label-text-alt"></span>
        </div>
      </label>

      <div>
        <button class="btn btn-primary w-full">Sign In</button>
      </div>

    </form>
  </div>
  <div class="flex-1 bg-neutral-800"></div>
</main>
