<app-drawer>
  <app-topbar title="Dashboard"></app-topbar>

  <section class="container mx-auto px-5 lg:px-16">
    <div class="card">
      <div class="card-body flex gap-10 flex-col-reverse xl:flex-row-reverse items-center">
        <div class="flex-1 flex flex-col items-center md:items-start">
          <h3 class="text-xl text-center md:text-left font-semibold my-5 text-primary">Welcome back! Pedro Hagawhaw</h3>
          <p class="text-center md:text-left">Explore your dashboard, track your progress, and discover new
            opportunities to shine. <br> Let's make every
            moment count!</p>
        </div>

        <div class="flex items-center">
          <app-hello-svg />
        </div>
      </div>
    </div>
  </section>

</app-drawer>
