<app-drawer>
  <app-topbar title="Academic Settings"></app-topbar>

  <br>
  <div class="container mx-auto">

    <div class="card w-full">
      <div class="card-body p-5">
        <div class="flex ">
          <p class="font-semibold">Academic School Year</p>
          <button class="btn btn-primary btn-sm" (click)="showSchoolYearModal()">Add new school year</button>
        </div>
        <br>
        <table class="table border">
          <thead>
            <tr>
              <th>School Year</th>
              <th>Is Current</th>
              <th>Unlocked</th>
            </tr>
          </thead>

          <tbody>
            @for (item of schoolYears; track $index) {
            <tr>
              <td>{{ item.yearStart }} - {{ item.yearEnd }}</td>
              <td><input type="checkbox" class="toggle toggle-primary"
                  (click)="!item.isCurrent ? openPasswordModal($event, item.id) : nothing($event) "
                  [checked]="item.isCurrent"></td>

              <td><input type="checkbox" class="toggle toggle-primary"></td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

</app-drawer>

<dialog id="my_modal_1" #passwordModal class="modal" (close)="resetUpdateForm()">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Warning</h3>
    <p class="py-4">You must enter your password before changing the current school year</p>
    <label class="form-control w-full">
      <div class="label">
      </div>
      <input type="password" [formControl]="password" class="input input-bordered w-full" placeholder="Password">
      <div class="label">
        <span class="label-text-alt text-error">{{passwordError ?? ""}}</span>
      </div>
    </label>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="changeSchoolYear()" [disabled]="submitInProgress">
        @if (submitInProgress) {
        <span class="loading loading-dots"></span>
        }
        @else {
        <span>Confirm</span>
        }
      </button>
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>


<dialog #schoolYearModal class="modal" (close)="schoolyearModalClosed()">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Add school year</h3>

    <div [formGroup]="schoolYearForm">


      <label class="form-control w-full">
        <div class="label">
        </div>
        <input type="text" formControlName="yearStart" placeholder="Year start" class="input input-bordered w-full" />
        <div class="label">
          <span class="label-text-alt text-error">{{ schoolYearErrors.yearStart ?? "" }} </span>
        </div>
      </label>


      <label class="form-control w-full">
        <div class="label">
        </div>
        <input type="text" formControlName="yearEnd" placeholder="Year end" class="input input-bordered w-full" />
        <div class="label">
          <span class="label-text-alt text-error">{{ schoolYearErrors.yearEnd ?? "" }}</span>
        </div>
      </label>
    </div>

    <div class="modal-action">
      <button class="btn btn-primary" [disabled]="submitInProgress" (click)="submitSchoolYear()">
        @if (submitInProgress) {
        <span class="loading loading-dots"></span>
        }
        @else {
        <span>Submit</span>
        }
      </button>
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>




<div class="toast toast-top toast-center">
  @for (item of toastMessages; track $index) {
  <div class="alert alert-success">
    <span>{{item.message}}</span>
  </div>
  }
</div>
