<div class="container mx-auto lg:p-6">
  <h1 class="text-2xl font-bold text-center lg:text-left mb-4">📚 Course Lessons</h1>
  <div *ngIf="(lessons$ | async)?.length === 0" class="text-gray-500 text-center">
    No lessons available for this course.
  </div>

  <div *ngFor="let lesson of (lessons$ | async)" class="card bg-slate-50  mt-4 border-l-4"
       [ngClass]="{
         'border-blue-500': lesson.type === 'document',
         'border-green-500': lesson.type === 'video',
         'border-orange-500': lesson.type === 'quiz'
       }">
    <div class="card-body">
      <h3 class="font-bold text-lg">{{ lesson.title }}</h3>
      <p class="text-md text-gray-600">⏳ Duration: {{ lesson.duration }}</p>
      <p class="text-md text-gray-500">📅 Created: {{ lesson.created_at | date:'mediumDate' }}</p>
      <p class="text-md text-gray-500">🔄 Last Updated: {{ lesson.updated_at | date:'mediumDate' }}</p>

      <div class="flex justify-between items-center mt-2">
        <span class="badge"
              [ngClass]="{
                'badge-primary': lesson.type === 'document',
                'badge-success': lesson.type === 'video',
                'badge-warning': lesson.type === 'quiz'
              }">
          {{ lesson.type | titlecase }}
        </span>
        <a routerLink="1" [queryParams]="{type: lesson.type}" class="btn btn-outline btn-sm" >📖 View Lesson</a>
      </div>
    </div>
  </div>
</div>
