<app-admin-layout>
  <main>
    <div class="h-14"></div>
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold">Subject Management</h1>
    </div>

    <br>
    <br>
    <br>

    <div class="container mx-auto flex justify-between items-end border-b border-base-200">
      <div role="tablist" class="tabs tabs-bordered">
        <a routerLinkActive="tab-active" [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/subject-management/subject-list" role="tab" class="tab ">
          <span class="mr-3">
            <svg width="18" height="18" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2v6a2 2 0 0 0 2 2h6v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h6Z"
                class="fill-base-content" />
              <path d="M13.5 2.5V8a.5.5 0 0 0 .5.5h5.5l-6-6Z" class="fill-base-content" />
            </svg>
          </span>
          Subject List
        </a>

        <a routerLinkActive="tab-active" [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/subject-management/add-subject" role="tab" class="tab ">
          <span class="mr-3">
            <svg width="18" height="18" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2v6a2 2 0 0 0 2 2h6v10a2 2 0 0 1-2 2h-6.81A6.5 6.5 0 0 0 4 11.498V4a2 2 0 0 1 2-2h6Z"
                class="fill-base-content" />
              <path
                d="M13.5 2.5V8a.5.5 0 0 0 .5.5h5.5l-6-6ZM12 17.5a5.5 5.5 0 1 0-11 0 5.5 5.5 0 0 0 11 0ZM7 18l.001 2.503a.5.5 0 1 1-1 0V18H3.496a.5.5 0 0 1 0-1H6v-2.5a.5.5 0 1 1 1 0V17h2.497a.5.5 0 0 1 0 1H7Z"
                class="fill-base-content" />
            </svg>
          </span>
          Add Subject
        </a>
      </div>
    </div>

    <div class="h-9"></div>

    <router-outlet></router-outlet>
  </main>
</app-admin-layout>
