<app-drawer>
  <app-topbar [title]="'Grade ' + section?.classLevel?.level + ' ' + section?.sectionName"></app-topbar>

  <br>


  <div class="container mx-auto">
    <br>
    <p class="font-semibold">Enrolled Students</p>
    <br>
    <div class="flex justify-between items-center">
      <button class="btn btn-sm btn-primary" (click)="showAddStudentModal()">Add student(s)</button>
      <input type="text" class="input input-sm input-bordered" placeholder="Search">
    </div>
    <br>
    <table class="table border">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (item of studentSections; track $index) {
        <tr>
          <td>{{item.student.firstname}} {{ item.student.lastname }}</td>
          <td>{{ item.student.email }}</td>
          <td align="right">
            <button class="link">Remove</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</app-drawer>

<dialog #addStudentDialog class="modal" (close)="studentModalClosed()">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="text-lg font-bold">Add students</h3>

    <br>
    <input type="text" class="input input-bordered w-full" placeholder="Search">
    <br>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <!-- <th>LRN</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of students; track $index) {
        <tr>
          <td>{{ item.firstname }} {{ item.lastname }}</td>
          <td>{{ item.email }}</td>
          <td align="center">
            <button class="btn btn-sm" (click)="addStudent(item.id)">Add</button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
