<app-teacher-layout>
  <main>
    <div class="h-14"></div>
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold">Teacher Dashboard</h1>
    </div>
    <br>
    <br>
    <br>

    <div class="container mx-auto">
      <section class="grid grid-cols-12 gap-10">
        <div class="col-span-10">
          <p class="font-semibold">Subject Overview</p>
          <hr>
          <br>
          <div class="grid grid-cols-4 gap-5">
            <!-- @for (item of subjectList; track $index) {
            <a [routerLink]="'/admin/subject-detail/' + item.subject.id" class="border border-base-300 rounded">
              <div class="bg-base-200 h-36">
                <img src="https://t3.ftcdn.net/jpg/04/83/90/18/360_F_483901821_46VsNR67uJC3xIKQN4aaxR6GtAZhx9G8.jpg" alt="">
              </div>
              <div class="p-3">
                <span class="font-semibold">{{ item.subject.subject_name }}</span>
                <br>
                <span class="text-sm">Grade {{ item.level?.level }}</span>
                <br>
                <p class="text-sm">
                  <span>{{ item.lesson_count.count }} Lessons</span>,
                  <span>0 Submissions</span>
                </p>
                <br>
              </div>
            </a>
            } -->

            <a  class="border border-base-300 rounded">
              <div class="bg-base-200 h-36">
                <img class="h-full w-full object-cover" src="https://t3.ftcdn.net/jpg/04/83/90/18/360_F_483901821_46VsNR67uJC3xIKQN4aaxR6GtAZhx9G8.jpg" alt="">
              </div>
              <div class="p-3">
                <span class="font-semibold">Math</span>
                <br>
                <span class="text-sm">Grade 7</span>
                <br>
                <p class="text-sm">
                  <span>4 Lessons</span>,
                  <span>5 Submissions</span>
                </p>
                <br>
              </div>
            </a>

            <a  class="border border-base-300 rounded">
              <div class="bg-base-200 h-36">
                <img class="h-full w-full object-cover" src="https://img.freepik.com/premium-vector/english-language-learning-dark-background_651276-157.jpg" alt="">
              </div>
              <div class="p-3">
                <span class="font-semibold">English</span>
                <br>
                <span class="text-sm">Grade 7</span>
                <br>
                <p class="text-sm">
                  <span>0 Lessons</span>,
                  <span>0 Submissions</span>
                </p>
                <br>
              </div>
            </a>

            <a class="border border-base-300 rounded">
              <div class="bg-base-200 h-36">
                <img class="h-full w-full object-cover" src="https://static.vecteezy.com/system/resources/thumbnails/013/717/509/small_2x/school-education-and-science-doodle-background-free-vector.jpg" alt="">
              </div>
              <div class="p-3">
                <span class="font-semibold">Science</span>
                <br>
                <span class="text-sm">Grade 7</span>
                <br>
                <p class="text-sm">
                  <span>0 Lessons</span>,
                  <span>0 Submissions</span>
                </p>
                <br>
              </div>
            </a>
          </div>


          <br>
          <br>

          <p class="font-semibold">Recent Submissions</p>
          <hr>
          <br>
          <div class="w-full flex mb-5 justify-between items-center">
            <div class="flex items-center gap-3">
              <div class="join">
                <button class="join-item btn btn-sm"
                  [disabled]="true">«</button>
                <button class="join-item btn btn-sm"> 1 </button>
                <button class="join-item btn btn-sm"
                  [disabled]="true">»</button>
              </div>

              <label class="input input-bordered input-sm flex items-center gap-2">
                <input type="text" class="grow" placeholder="Search" />
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                  class="h-4 w-4 opacity-70">
                  <path fill-rule="evenodd"
                    d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                    clip-rule="evenodd" />
                </svg>
              </label>
            </div>
          </div>
          <table class="table border border-base-200 rounded-md">
            <thead>
              <tr class="bg-base-200 ">
                <th>Student</th>
                <th>Title</th>
                <th>Subject</th>
                <th>Date Submitted</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sed quia illum sed </td>
                <td>Assignment 1 sa math</td>
                <td>Math</td>
                <td>{{ "2025-04-11" | date }} </td>
              </tr>

              <tr>
                <td>Ad voluptas velit en</td>
                <td>Assignment 1 sa math</td>
                <td>Math</td>
                <td>{{ "2025-04-11" | date }} </td>
              </tr>

              <tr>
                <td>Corporis quis odit a </td>
                <td>Assignment 1 sa math</td>
                <td>Math</td>
                <td>{{ "2025-04-11" | date }} </td>
              </tr>

              <tr>
                <td>Consequatur magna d </td>
                <td>Assignment 1 sa math</td>
                <td>Math</td>
                <td>{{ "2025-04-11" | date }} </td>
              </tr>

              <tr>
                <td>Et est ex incididun</td>
                <td>Assignment 1 sa math</td>
                <td>Math</td>
                <td>{{ "2025-04-11" | date }} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-span-2">
          <app-min-calendar></app-min-calendar>
        </div>
      </section>
    </div>
  </main>
  <br>
  <br>
  <br>
</app-teacher-layout>
