
<app-layout pageTitle="Teacher Dashboard">
  <app-section sectionTitle="Subject Overview">
    <div class="w-full mt-10 grid grid-cols-4 gap-4">
      @for (item of subjects; track $index) {
      <button (click)="openDrawer()"
        class="card border-neutral-700 text-left transition-colors hover:bg-neutral-600 bg-neutral-800">
        <div class="card-body p-5">
          <p class="font-semibold">{{item.subjectName}}</p>
          <p class="text-sm">Grade {{item.gradeLevel}} - {{item.section}}</p>
          <p class="text-sm">New Submissions {{item.newSubmissions}}, Participants 0</p>
        </div>
      </button>
      }
    </div>
  </app-section>
  <app-section sectionTitle="Recent Submissions"></app-section>

</app-layout>
