<app-admin-layout>
  <main>
    <div class="h-14"></div>
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold">Settings</h1>
    </div>

    <br>
    <br>

    <div class="container mx-auto flex justify-between items-end border-b border-base-200">
      <div role="tablist" class="tabs tabs-bordered">
        <a routerLinkActive="tab-active" [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/settings/general-settings" role="tab" class="tab ">

          General
        </a>

        <a routerLinkActive="tab-active" [routerLinkActiveOptions]="{exact: true}"
          routerLink="/admin/settings/school-settings" role="tab" class="tab ">
          School
        </a>

      </div>
    </div>

    <div class="h-9"></div>

    <router-outlet></router-outlet>
  </main>
</app-admin-layout>
