<div class="w-full">
  <div class="border-b border-base-200 pb-2">
    <span class="font-semibold">Quick Actions</span>
  </div>
  <ul class="flex flex-col gap-3  mt-3">
    <li class="w-full"><a class="btn w-full btn-sm btn-ghost border border-base-200" (click)="openImportUsersModal()">Import users</a></li>
    <li class="w-full"><a class="btn w-full btn-sm btn-ghost border border-base-200" (click)="openImportUsersModal()">Import Subjects</a></li>
    <li class="w-full"><a class="btn w-full btn-sm btn-ghost border border-base-200" (click)="openImportSectionsModal()">Import grade and
        sections</a></li>
  </ul>


  <div class="border-b border-base-200 pb-2 mt-5">
    <span class="font-semibold">Navigations</span>
  </div>

  <ul class="flex flex-col gap-3  mt-3">
    <li class="w-full"><a routerLink="/admin" class="btn w-full btn-sm btn-ghost border border-base-200">Admin Dashboard</a>
    </li>
    <li class="w-full"><a routerLink="/admin/user-management" class="btn w-full btn-sm btn-ghost border border-base-200">User Management</a>
    </li>
    <li class="w-full"><a routerLink="/admin/subject-management" class="btn w-full btn-sm btn-ghost border border-base-200">Course/Subject
        Management</a></li>
    <li class="w-full"><a routerLink="/admin/school-settings" class="btn w-full btn-sm btn-ghost border border-base-200">School Settings</a>
    </li>
  </ul>

</div>
