<app-drawer>
  <app-topbar title="Gradebook"></app-topbar>
  <div class="px-6 lg:px-0 container mx-auto">
    <div class="w-full flex justify-between items-center">
      <select class="select select-bordered select-sm" (input)="getGrades($event)" >
        <option value="" disabled selected>-- Select Subject</option>

        @for (item of teacherSubjects; track $index) {
          <option [value]="item.id">{{ item.subject.title }}</option>
        }
      </select>

      <div class="flex gap-5">
        <button class="btn btn-sm" (click)="downloadCSV()">Download CSV</button>
        <button class="btn btn-sm" (click)="downloadExcel()">Download Excel</button>
        <button class="btn btn-sm" (click)="downloadPDF()">Download PDF</button>
      </div>
    </div>
    <br>
    <!-- Gradebook Table -->
    <div class="overflow-x-auto">
      <table class="table table-zebra shadow-md rounded-lg">
        <thead>
          <tr>
            <th class="p-3 text-left">Student</th>
            <th class="p-3 text-center">Quizzes ({{ criteria.quizzes }}%)</th>
            <th class="p-3 text-center">Activities ({{ criteria.assignments }}%)</th>
            <th class="p-3 text-center">Total Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of studentGrades" class="border-t">
            <td class="p-3">{{ grade.studentName }}</td>
            <td class="p-3 text-center">{{ grade.quizAverage }}</td>
            <td class="p-3 text-center">{{ grade.activityAverage }}</td>
            <td class="p-3 text-center">{{ grade.finalGrade.toFixed(2) }}</td>
            <!-- <td class="p-3 text-center font-semibold">{{ student.total.toFixed(2) }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</app-drawer>
