<app-layout pageTitle="Quiz 1" [menus]="menus">
  <div class="text-xl py-2 border-b border-neutral-800 flex items-center justify-between">
    <h3>
      Question 1.
    </h3>

    <div>
      <div class="join grid grid-cols-2">
        <button class="join-item btn border-neutral-600 btn-sm btn-outline">Previous</button>
        <button class="join-item btn border-neutral-600 btn-sm btn-outline">Next</button>
      </div>
    </div>
  </div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis repudiandae vel quam cum ipsam, assumenda beatae, harum obcaecati ab, dolor maxime. Illo autem quas cupiditate possimus! Nam quisquam facilis iure!

  <div>
    <button class="btn btn-sm w-full"></button>
    <button class="btn btn-sm w-full"></button>
    <button class="btn btn-sm w-full"></button>
  </div>
</app-layout>
